/* General Style */
body {
    width: 80%;
    margin: auto;
}

main {
    width: 100%;
    max-width: 815px;
    margin: auto;
}

main > div {
    text-align: center;
}

main > div.divflex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: 1rem 0;
}

/* Text */
h2 {
    text-transform: uppercase;
}

h3 {
    font-size: calc(var(--font-size-normal)*1.1);
}

h4  {
    font-size: var(--font-size-normal);
}

span {
    vertical-align: middle;
}

/* Lists */
ul {
    padding-left: 2rem;
    font-size: var(--font-size-normal)
}

/* Links */
main a {
    text-decoration: underline;
    transition: 0.3s
}

a:hover {
    color: var(--btn-color);
    transition: 0.3s
}

.btn a:hover {
    color: var(--font-color);
}
/* Images */
main > div img {
    max-width: 512px;
    transition: 0.5s;
}

main > div img:hover {
    transform: scale(1.1);    
    transition: 0.5s;
}

figure {
    margin-bottom: 0.8rem;
}

figure img {
    width: 85%;
}

figcaption {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
img.s-logo {
    width: 100%;
    max-width: 266px;
}

.logo-studio img {
    width: 100%;
    max-width: 420px;
}

img.m-logo {
    width: 50%;
}

/* Classes */
.center {
    text-align: center;
}

.three {
     width: 33%;
}

.four {
     width: 24.5%;
}

.blue {
    color: var(--btn-color);
}

.green {
    color: var(--sale-color);
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.normal {
    text-transform: none;
}

/* HEADER */
header {
    margin-bottom: 3rem;
    text-align: center;
}

header > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header > div > p {
   margin: 0.5rem 1rem;
   font-size: var(--font-size-small);
}

header > div > p > span {
    vertical-align: middle;
    margin: 0 0.5rem;
}

header > img {
    max-width: 850px;
    border-radius: 16px;
}

h1 {
    font-size: var(--font-size-large);
    margin: 2rem;
    line-height: 3rem;
}

/* FOOTER */
footer {
    margin: 5rem 0;
    padding-bottom: 3rem;;
    text-align: center;

    position: relative;
}

div.logo-studio {
    max-width: 500px;
    margin: 1rem auto;
}

footer > a img {
    max-width: 80px;
    margin:  0.5rem 1rem;
    opacity: 0.9;
    transition: 0.5s;
}

footer > a > img:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 0.5s;
}

footer > a.arrow span {
    font-size: var(--font-size-large);
    margin: 0 0.5rem;
}

footer > a.arrow {
    position: absolute;
    bottom: -5%;
    transition: 0.3s;
}

footer > a.arrow:hover {
    color: var(--btn-color);
    transition: 0.3s;
}

footer > a.back {
    left: -5%;
}

footer > a.forward {
    right: -5%;
}

footer > a.center {
    bottom: 0;
    left: -10%;
    right: 0;
}

@media (max-width: 600px) {
    body {
        width: 90%;
        margin: auto;
    }

    header > div > p {
        margin: 0.2rem;
     }

    main > div.divflex {
    display: flex;
    flex-flow: column wrap;
    align-content: center;

    margin: 1rem 0;
    }

    .three, .four {
     width: 50%;
    }

    img.m-logo {
        width: 70%;
    }

}