/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
    /* Fonts */
    --font-color: #fff;
    --font-main: 'Poppins', sans-serif;
    --font-size-normal: 1.2rem;
    --font-size-large: 2.2rem;
    --font-size-small: 1rem;

    /* Colors */
    --sale-color: #9ec908;
    --bg-main-color: #222;
    --bg-main-color-dark: #121212;
    --bg-sec-color: #221332;
    --overlay-op: rgba(0, 0, 0, 0.5);
    --overlay-op-2: rgba(0, 0, 0, 0.8);

    /* Buttons */
    --btn-color: #1198db;
    --btn-hov: #0e83be;
    --btn-active: #00d084;

}

/* Reset and general style */
* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    line-height: 2rem;
    
}

body {
    font-family: var(--font-main);
    color: var(--font-color);
    background-color: var(--bg-main-color-dark);
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-main-color);
    max-height: 80px;
    z-index: 1000;
    box-shadow: 0 8px 8px var(--overlay-op);

    position: sticky;
    top: 0;
}

img {
    width: 100%;
}

h2 {
    margin: 2rem 0;
    font-size: var(--font-size-large);
}

p {
    margin: 1rem 0;
    font-size: var(--font-size-normal);
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-size: var(--font-size-normal);
}

::selection {
    background-color: rgba(213, 126, 57, 0.6);
}

/* Buttons */
div.btn {
    text-align: center;
}

a.btn {
    display: inline-block;
    padding: 0.8rem 1rem;
    margin: 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    background-color: var(--btn-color);
    transition: ease-out 0.1s;
}

a.btn:hover {
    background-color: var(--btn-hov);
    text-shadow: 2px 1px 1px var(--overlay-op);
    transition: ease-in 0.1s;
}

a.btn:active {
    background-color: var(--btn-active);
}

.hidden {
    display: none;
}
